# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/src/main/java/com/umc/techl/config/secret/Secret.java
/src/main/resources/application.yml

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store